<h1><%= @artist.name %> | # <%= @artist.spot_on_charts %></h1>



Weeks on Billboard:
<%= @artist.weeks_on_charts %>
<hr />



<% @artist.songs.each do |song| %>
<div class="ui massive segment relaxed divided list"">
<div class="item">
    <i class="music icon"></i>
   <div class="content">
      
<h2><%= song.name %></h2>
<iframe src='https://www.youtube.com/embed/<%= song.youtube_id %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>

</div>
</div>
</div>

<% end %>


<p>What would you like to do?</p>
<div class="ui segment">
<%= link_to 'View Songs', artist_songs_path(@artist) %>
</div>
<div class="ui segment">
<%= link_to 'Edit Artist', edit_billboard_artist_path([@billboard, @artist]) %>
</div>
<div class="ui segment">
<%= link_to 'Delete Artist', [@billboard, @artist], method: :delete %>
</div>
