

<h1><%= @billboard.name %></h1>
<hr />

<h1>Click an Artist to view their songs</h1>

<% @billboard.artists.each do |artist| %>
<div class="ui massive segment relaxed divided list">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <div class="ui segment">
      <div class="content">
        <h1>#<%= artist.spot_on_charts %>
        
          <img class="ui small avatar image" src="https://robohash.org/<%= artist.avatar %>?set=set2" />
          </h1>
          <a class="header">
          <h2><%= link_to artist.name, [@billboard, artist] %></h2>
          
            <div class="description">
              <%= artist.genre %></h3> |
              Songs in the charts: <%= artist.songs.count %> |
              Weeks on Billboard: <%= artist.weeks_on_charts %> |
              <h4><%= link_to "Songs", [@billboard, artist] %>
            </div>
          </div>
          </a>
        </div>
      </div>
    <div class="column">
      
            <iframe width="400" height="280" src='https://www.youtube.com/embed/<%= artist.youtube_id %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
      
      
     
    </div>
  </div>
</div>

<% end %>


<p>What would you like to do?</p>
<div class="ui segment">
<%= link_to 'View Artists', billboard_artists_path(@billboard) %>
</div>
<div class="ui segment">
<%= link_to 'Edit Billboard', edit_billboard_path(@billboard) %>
</div>
<div class="ui segment">
<%= link_to 'Delete Billboard', @billboard, method: :delete %>
</div>